#####################################################

#Database PostGres
DB_NAME=PropertyLister
DB_USER=user
DB_PASSWORD=
DB_HOST=localhost
DB_PORT=5432

#####################################################