#####################################################

# Database PostGres
DB_NAME=propertylister
DB_USER=user
DB_PASSWORD=asdf
DB_HOST=localhost
DB_PORT=5432
DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}


#####################################################

# Server Vars
PORT=3000
SECRET=asdf

#####################################################